<div th:fragment="roomDetails" class="room-info">
    <div class="room-header">
        <h2 class="room-name" th:text="${roomName}">Room Name</h2>
    </div>
    <div class="room-content">
        <p class="room-description" th:utext="${roomDescription}">Room description goes here.</p>
    </div>
    <div class="exits-info">
        <span class="exits-label">출구:</span>
        <ul th:if="${not #lists.isEmpty(exits)}" class="exits-list">
            <li th:each="exit : ${exits}" class="exit-item"><span class="exit-direction" th:text="${exit}">North</span></li>
        </ul>
        <span th:if="${#lists.isEmpty(exits)}" class="no-exits">없음</span>
    </div>

    <!-- NPC 표시 -->
    <div class="characters-info" th:if="${not #lists.isEmpty(npcsInRoom)}">
        <div class="npcs-info">
            <ul class="npcs-list">
                <li th:each="npc : ${npcsInRoom}" class="character-item">
                    <span class="npc-name" th:text="${npc}"></span><span class="character-status" th:text="'님이 서있습니다.'"></span>
                </li>
            </ul>
        </div>
    </div>

    <!-- 다른 플레이어 표시 -->
    <div class="characters-info" th:if="${not #lists.isEmpty(otherPlayersInRoom)}">
        <div class="players-info">
            <ul class="players-list">
                <li th:each="player : ${otherPlayersInRoom}" class="character-item">
                    <span class="player-name" th:text="${player}"></span><span class="character-status" th:text="'님이 서있습니다.'"></span>
                </li>
            </ul>
        </div>
    </div>

    <!-- 몬스터 표시 -->
    <div class="monsters-info" th:if="${not #lists.isEmpty(monstersInRoom)}">
        <div class="monsters-list">
            <ul>
                <li th:each="monster : ${monstersInRoom}" class="monster-item">
                    <span class="monster-name" th:text="${monster}"></span><span class="monster-status" th:text="'가 있습니다.'"></span>
                </li>
            </ul>
        </div>
    </div>
</div>
