<div th:fragment="statusDetails" class="status-info font-terminal">
    <div class="msg-room-title">[ 상태창 ]</div>

    <div class="line">
        <span class="label">이름: </span><span th:text="${playerName}"></span>
        &nbsp;&nbsp;
        <span class="label">레벨: </span><span th:text="${level}"></span>
    </div>
    <div class="line">
        <span class="label">직업: </span><span th:text="${characterClass}"></span>
        &nbsp;&nbsp;
        <span class="label">성별: </span><span th:text="${gender == T(com.jefflife.mudmk2.gamedata.application.domain.model.player.Gender).MALE ? '남성' : '여성'}"></span>
    </div>
    <div class="line">
        <span class="label">상태: </span><span th:text="${state.description()}"></span>
        &nbsp;&nbsp;
        <span class="label">위치: </span><span th:text="${roomName}"></span>
    </div>
    <div class="line">
        <span class="label">경험치: </span><span th:text="${experience + ' / ' + nextLevelExp}"></span>
    </div>

    <div class="line-spacer"></div>
    <div class="msg-room-title">[ 자원 ]</div>
    <div class="line">
        <span class="label">체력 (HP): </span><span th:text="${hp + ' / ' + maxHp}"></span>
    </div>
    <div class="line">
        <span class="label">내력 (MP): </span><span th:text="${mp + ' / ' + maxMp}"></span>
    </div>
    <div class="line">
        <span class="label">활동력 (AP): </span><span th:text="${ap + ' / ' + maxAp}"></span>
    </div>

    <div class="line-spacer"></div>
    <div class="msg-room-title">[ 속성 ]</div>
    <div class="line">
        <span class="label">활력: </span><span th:text="${vigor.base}"></span><span th:if="${vigor.bonus != 0}" th:text="${' (' + (vigor.bonus > 0 ? '+' : '') + vigor.bonus + ')'}"></span>
    </div>
    <div class="line">
        <span class="label">체력: </span><span th:text="${physique.base}"></span><span th:if="${physique.bonus != 0}" th:text="${' (' + (physique.bonus > 0 ? '+' : '') + physique.bonus + ')'}"></span>
    </div>
    <div class="line">
        <span class="label">민첩: </span><span th:text="${agility.base}"></span><span th:if="${agility.bonus != 0}" th:text="${' (' + (agility.bonus > 0 ? '+' : '') + agility.bonus + ')'}"></span>
    </div>
    <div class="line">
        <span class="label">지력: </span><span th:text="${intellect.base}"></span><span th:if="${intellect.bonus != 0}" th:text="${' (' + (intellect.bonus > 0 ? '+' : '') + intellect.bonus + ')'}"></span>
    </div>
    <div class="line">
        <span class="label">의지: </span><span th:text="${will.base}"></span><span th:if="${will.bonus != 0}" th:text="${' (' + (will.bonus > 0 ? '+' : '') + will.bonus + ')'}"></span>
    </div>
    <div class="line">
        <span class="label">기맥: </span><span th:text="${meridian.base}"></span><span th:if="${meridian.bonus != 0}" th:text="${' (' + (meridian.bonus > 0 ? '+' : '') + meridian.bonus + ')'}"></span>
    </div>

    <div class="line-spacer"></div>
    <div class="msg-room-title">[ 무예 ]</div>
    <div class="line">
        <span class="label">내공: </span><span th:text="${innerPower.base}"></span><span th:if="${innerPower.bonus != 0}" th:text="${' (' + (innerPower.bonus > 0 ? '+' : '') + innerPower.bonus + ')'}"></span>
    </div>
    <div class="line">
        <span class="label">특기: </span><span th:text="${specialTechnique.base}"></span><span th:if="${specialTechnique.bonus != 0}" th:text="${' (' + (specialTechnique.bonus > 0 ? '+' : '') + specialTechnique.bonus + ')'}"></span>
    </div>
    <div class="line">
        <span class="label">경공: </span><span th:text="${lightStep.base}"></span><span th:if="${lightStep.bonus != 0}" th:text="${' (' + (lightStep.bonus > 0 ? '+' : '') + lightStep.bonus + ')'}"></span>
    </div>
    <div class="line">
        <span class="label">권장: </span><span th:text="${fistsAndPalms.base}"></span><span th:if="${fistsAndPalms.bonus != 0}" th:text="${' (' + (fistsAndPalms.bonus > 0 ? '+' : '') + fistsAndPalms.bonus + ')'}"></span>
    </div>
    <div class="line">
        <span class="label">검술: </span><span th:text="${swordMethod.base}"></span><span th:if="${swordMethod.bonus != 0}" th:text="${' (' + (swordMethod.bonus > 0 ? '+' : '') + swordMethod.bonus + ')'}"></span>
    </div>
    <div class="line">
        <span class="label">도법: </span><span th:text="${bladeMethod.base}"></span><span th:if="${bladeMethod.bonus != 0}" th:text="${' (' + (bladeMethod.bonus > 0 ? '+' : '') + bladeMethod.bonus + ')'}"></span>
    </div>
    <div class="line">
        <span class="label">장병기술: </span><span th:text="${longWeapon.base}"></span><span th:if="${longWeapon.bonus != 0}" th:text="${' (' + (longWeapon.bonus > 0 ? '+' : '') + longWeapon.bonus + ')'}"></span>
    </div>
    <div class="line">
        <span class="label">암기술: </span><span th:text="${esotericWeapon.base}"></span><span th:if="${esotericWeapon.bonus != 0}" th:text="${' (' + (esotericWeapon.bonus > 0 ? '+' : '') + esotericWeapon.bonus + ')'}"></span>
    </div>
    <div class="line">
        <span class="label">궁술: </span><span th:text="${archery.base}"></span><span th:if="${archery.bonus != 0}" th:text="${' (' + (archery.bonus > 0 ? '+' : '') + archery.bonus + ')'}"></span>
    </div>
</div>
